<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirección a la versión con www
    RewriteCond %{HTTP_HOST} ^matiasmonzalvo\.com [NC]
    RewriteRule ^(.*)$ https://www.matiasmonzalvo.com/$1 [L,R=301]

    # Reescritura de URLs para omitir la extensión .html
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}\.html -f
    RewriteRule ^(.*)$ $1.html [L,QSA]

    # Reglas para deshabilitar ETag y controlar la caché
    <FilesMatch "\.(html|css|js)$">
        FileETag None
        <IfModule mod_headers.c>
            Header unset ETag
            Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
            Header set Pragma "no-cache"
            Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
        </IfModule>
    </FilesMatch>
</IfModule>
